In [1]:
db = {'Analog': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0}, 
        'AnalogOutputStatus': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0}, 
        'Binary': {0: False, 1: False, 2: False, 3: False}, 
        'BinaryOutputStatus': {0: False, 1: False, 2: False, 3: False}}

In [2]:
import pandas as pd
from datetime import datetime

In [3]:
db_flat: dict = {} 
# {"Name": ["Analog_0", "Analog_1"], 
# "Value": [0.0, 0.1], 
# "Type": ["AnalogInput", "AnalogInput"], 
# "Update_at": [2024-08-05 15:39:02.275748, 2024-08-05 15:39:02.275748]}
for k, v in db.items():
    # 'Analog': {0: 0.0, 1: 0.0, 2: 0.0, 3: 0.0}
    names = [k + "_" + str(index) for index in v.keys()]
    values = [value for value in v.values()]
    types = [k for _ in v.keys()]
    # Update_at = 
    if db_flat == {}:
        db_flat = {"Name": names, "Value": values, "Type": types}
    else:
        db_flat["Name"] += names
        db_flat["Value"] += values
        db_flat["Type"] += types
db_flat

{'Name': ['Analog_0',
  'Analog_1',
  'Analog_2',
  'Analog_3',
  'AnalogOutputStatus_0',
  'AnalogOutputStatus_1',
  'AnalogOutputStatus_2',
  'AnalogOutputStatus_3',
  'Binary_0',
  'Binary_1',
  'Binary_2',
  'Binary_3',
  'BinaryOutputStatus_0',
  'BinaryOutputStatus_1',
  'BinaryOutputStatus_2',
  'BinaryOutputStatus_3'],
 'Value': [0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  0.0,
  False,
  False,
  False,
  False,
  False,
  False,
  False,
  False],
 'Type': ['Analog',
  'Analog',
  'Analog',
  'Analog',
  'AnalogOutputStatus',
  'AnalogOutputStatus',
  'AnalogOutputStatus',
  'AnalogOutputStatus',
  'Binary',
  'Binary',
  'Binary',
  'Binary',
  'BinaryOutputStatus',
  'BinaryOutputStatus',
  'BinaryOutputStatus',
  'BinaryOutputStatus']}

In [4]:
# pd.DataFrame(db_flat)
df_flat = pd.DataFrame(db_flat)
df_flat

                    Name  Value                Type
0               Analog_0    0.0              Analog
1               Analog_1    0.0              Analog
2               Analog_2    0.0              Analog
3               Analog_3    0.0              Analog
4   AnalogOutputStatus_0    0.0  AnalogOutputStatus
5   AnalogOutputStatus_1    0.0  AnalogOutputStatus
6   AnalogOutputStatus_2    0.0  AnalogOutputStatus
7   AnalogOutputStatus_3    0.0  AnalogOutputStatus
8               Binary_0  False              Binary
9               Binary_1  False              Binary
10              Binary_2  False              Binary
11              Binary_3  False              Binary
12  BinaryOutputStatus_0  False  BinaryOutputStatus
13  BinaryOutputStatus_1  False  BinaryOutputStatus
14  BinaryOutputStatus_2  False  BinaryOutputStatus
15  BinaryOutputStatus_3  False  BinaryOutputStatus

In [5]:
from tabulate import tabulate
print(tabulate(df_flat, headers='keys', 
               tablefmt='plain'
               ))
# tabulate(df_flat, headers='keys', tablefmt='psql')

    Name                    Value  Type
 0  Analog_0                    0  Analog
 1  Analog_1                    0  Analog
 2  Analog_2                    0  Analog
 3  Analog_3                    0  Analog
 4  AnalogOutputStatus_0        0  AnalogOutputStatus
 5  AnalogOutputStatus_1        0  AnalogOutputStatus
 6  AnalogOutputStatus_2        0  AnalogOutputStatus
 7  AnalogOutputStatus_3        0  AnalogOutputStatus
 8  Binary_0                    0  Binary
 9  Binary_1                    0  Binary
10  Binary_2                    0  Binary
11  Binary_3                    0  Binary
12  BinaryOutputStatus_0        0  BinaryOutputStatus
13  BinaryOutputStatus_1        0  BinaryOutputStatus
14  BinaryOutputStatus_2        0  BinaryOutputStatus
15  BinaryOutputStatus_3        0  BinaryOutputStatus

In [6]:
df_flat

                    Name  Value                Type
0               Analog_0    0.0              Analog
1               Analog_1    0.0              Analog
2               Analog_2    0.0              Analog
3               Analog_3    0.0              Analog
4   AnalogOutputStatus_0    0.0  AnalogOutputStatus
5   AnalogOutputStatus_1    0.0  AnalogOutputStatus
6   AnalogOutputStatus_2    0.0  AnalogOutputStatus
7   AnalogOutputStatus_3    0.0  AnalogOutputStatus
8               Binary_0  False              Binary
9               Binary_1  False              Binary
10              Binary_2  False              Binary
11              Binary_3  False              Binary
12  BinaryOutputStatus_0  False  BinaryOutputStatus
13  BinaryOutputStatus_1  False  BinaryOutputStatus
14  BinaryOutputStatus_2  False  BinaryOutputStatus
15  BinaryOutputStatus_3  False  BinaryOutputStatus

In [7]:
def dnp3_name_mapping(default_name: str) -> str:
    point_type, point_index = default_name.split("_")[0], default_name.split("_")[1]
    if point_type == "Analog":
        schema_type = "AI"
    elif point_type == "AnalogOutputStatus":
        schema_type = "AO"
    elif point_type == "Binary":
        schema_type = "BI"
    else: # point_type == "BinaryOutputStatus":
        schema_type = "BO"
        
    return f"{schema_type}-{(point_index).zfill(3)}" # 'padding in-front with zeros up to 3 digits

In [8]:
df_flat["point_name"] = df_flat["Name"].apply(lambda x: dnp3_name_mapping(x))
df_flat

                    Name  Value                Type point_name
0               Analog_0    0.0              Analog     AI-000
1               Analog_1    0.0              Analog     AI-001
2               Analog_2    0.0              Analog     AI-002
3               Analog_3    0.0              Analog     AI-003
4   AnalogOutputStatus_0    0.0  AnalogOutputStatus     AO-000
5   AnalogOutputStatus_1    0.0  AnalogOutputStatus     AO-001
6   AnalogOutputStatus_2    0.0  AnalogOutputStatus     AO-002
7   AnalogOutputStatus_3    0.0  AnalogOutputStatus     AO-003
8               Binary_0  False              Binary     BI-000
9               Binary_1  False              Binary     BI-001
10              Binary_2  False              Binary     BI-002
11              Binary_3  False              Binary     BI-003
12  BinaryOutputStatus_0  False  BinaryOutputStatus     BO-000
13  BinaryOutputStatus_1  False  BinaryOutputStatus     BO-001
14  BinaryOutputStatus_2  False  BinaryOutputStatus     BO-002
15  BinaryOutputStatus_3  False  BinaryOutputStatus     BO-003

In [9]:
df_points = pd.read_csv("/home/kefei/project/dnp3-python/dnp3-example-schema.csv")
df_points

,Point,Desc_Short,Min,Max,Mult,Units
0,AI-000,DER Profile Version Number,100,10000,0.01,NaN
1,AI-001,DER Profile Implementation Level,1,3,1.00,NaN
2,AI-002,Nameplate Minimum Voltage Rating,0,2147483647,0.10,Volts
3,AI-003,Nameplate Maximum Voltage Rating,0,2147483647,0.10,Volts
4,AI-004,Nameplate Active Generation Power Rating at Un...,0,2147483647,1.00,Watts
5,AI-005,Nameplate Active Charging Power Rating at Unit...,-2147483648,0,1.00,Watts

In [10]:
df_merged = pd.merge(df_flat[["Value", "point_name"]], df_points, left_on="point_name", right_on="Point").drop("point_name", axis=1)
df_merged

,Value,Point,Desc_Short,Min,Max,Mult,Units
0,0.0,AI-000,DER Profile Version Number,100,10000,0.01,NaN
1,0.0,AI-001,DER Profile Implementation Level,1,3,1.00,NaN
2,0.0,AI-002,Nameplate Minimum Voltage Rating,0,2147483647,0.10,Volts
3,0.0,AI-003,Nameplate Maximum Voltage Rating,0,2147483647,0.10,Volts

In [11]:
import textwrap
def wrap_text(text, width):
    return '\n'.join(textwrap.wrap(text, width=width))

df_merged['Desc_Short'] = df_merged['Desc_Short'].apply(lambda x: wrap_text(x, width=30))
df_merged

,Value,Point,Desc_Short,Min,Max,Mult,Units
0,0.0,AI-000,DER Profile Version Number,100,10000,0.01,NaN
1,0.0,AI-001,DER Profile Implementation\nLevel,1,3,1.00,NaN
2,0.0,AI-002,Nameplate Minimum Voltage\nRating,0,2147483647,0.10,Volts
3,0.0,AI-003,Nameplate Maximum Voltage\nRating,0,2147483647,0.10,Volts

In [12]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Value       4 non-null      object
 1   Point       4 non-null      object
 2   Desc_Short  4 non-null      object
 3   Min         4 non-null      int64
 4   Max         4 non-null      int64
 5   Mult        4 non-null      float64
 6   Units       2 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 352.0+ bytes

In [13]:
from pydnp3 import asiodnp3, asiopal, opendnp3, openpal

def configure_stack(
        
        db_sizes: opendnp3.DatabaseSizes = None,
        event_buffer_config: opendnp3.EventBufferConfig = None,
        **kwargs,
    ) -> asiodnp3.OutstationStackConfig:
        """Set up the OpenDNP3 configuration."""

        stack_config = asiodnp3.OutstationStackConfig(dbSizes=db_sizes)

        stack_config.outstation.eventBufferConfig = event_buffer_config
        stack_config.outstation.params.allowUnsolicited = (
            True  # TODO: create interface for this
        )
        stack_config.link.LocalAddr = (
            2
        )  # meaning for outstation, use 1 to follow simulator's default
        stack_config.link.RemoteAddr = (
            1
        )  # meaning for master station, use 2 to follow simulator's default
        stack_config.link.KeepAliveTimeout = openpal.TimeDuration().Max()
        return stack_config
    
event_buffer_config = opendnp3.EventBufferConfig().AllTypes(sizes=10)    
    
db_sizes = opendnp3.DatabaseSizes.AllTypes(count=5)
stack_config = configure_stack(
            db_sizes=db_sizes, event_buffer_config=event_buffer_config
        )

stack_config

In [14]:
# @staticmethod
# def configure_database(db_config):
#     """
#     Configure the Outstation's database of input point definitions.

#     # Configure two Analog points (group/variation 30.1) at indexes 1 and 2.
#     Configure two Analog points (group/variation 30.1) at indexes 0, 1.
#     Configure two Binary points (group/variation 1.2) at indexes 1 and 2.
#     """

#     # AnalogInput
#     db_config.analog[0].clazz = opendnp3.PointClass.Class2
#     # db_config.analog[0].svariation = opendnp3.StaticAnalogVariation.Group30Var1
#     db_config.analog[
#         0
#     ].svariation = opendnp3.StaticAnalogVariation.Group30Var5  # note: experiment, Analog input - double-precision, floating-point with flag ref: https://docs.stepfunc.io/dnp3/0.9.0/dotnet/namespacednp3.html#aa326dc3592a41ae60222051044fb084f
#     db_config.analog[0].evariation = opendnp3.EventAnalogVariation.Group32Var7
#     db_config.analog[1].clazz = opendnp3.PointClass.Class2
#     db_config.analog[1].svariation = opendnp3.StaticAnalogVariation.Group30Var1
#     db_config.analog[1].evariation = opendnp3.EventAnalogVariation.Group32Var7
#     # db_config.analog[2].clazz = opendnp3.PointClass.Class2
#     # db_config.analog[2].svariation = opendnp3.StaticAnalogVariation.Group30Var1
#     # db_config.analog[2].evariation = opendnp3.EventAnalogVariation.Group32Var7
    
#     return db_config


# # stack_config.dbConfig = configure_database(stack_config.dbConfig)
# configure_database(stack_config.dbConfig)

In [15]:
stack_config.dbConfig

In [16]:
stack_config.dbConfig.analog[0]

In [17]:
dir(stack_config.dbConfig.analog[0])

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clazz',
 'deadband',
 'evariation',
 'svariation',
 'vIndex']

In [18]:
stack_config.dbConfig.analog[3].evariation

In [19]:
stack_config.dbConfig.analog[3].svariation

In [20]:
stack_config.dbConfig.analog[0].svariation

In [21]:
for i in range(10):
    print(stack_config.dbConfig.analog[i].svariation)

StaticAnalogVariation.Group30Var1
StaticAnalogVariation.Group30Var1
StaticAnalogVariation.Group30Var1
StaticAnalogVariation.Group30Var1
StaticAnalogVariation.Group30Var1
StaticAnalogVariation.???
StaticAnalogVariation.???
StaticAnalogVariation.???
StaticAnalogVariation.???
StaticAnalogVariation.???

In [22]:
stack_config.dbConfig.analog[0].clazz = opendnp3.PointClass.Class2
# db_config.analog[0].svariation = opendnp3.StaticAnalogVariation.Group30Var1
stack_config.dbConfig.analog[
    0
].svariation = opendnp3.StaticAnalogVariation.Group30Var4  # note: experiment, Analog input - double-precision, floating-point with flag ref: https://docs.stepfunc.io/dnp3/0.9.0/dotnet/namespacednp3.html#aa326dc3592a41ae60222051044fb084f
stack_config.dbConfig.analog[0].evariation = opendnp3.EventAnalogVariation.Group32Var7
    
for i in range(10):
    print(stack_config.dbConfig.analog[i].svariation)

StaticAnalogVariation.Group30Var1
StaticAnalogVariation.Group30Var1
StaticAnalogVariation.Group30Var1
StaticAnalogVariation.Group30Var1
StaticAnalogVariation.Group30Var1
StaticAnalogVariation.???
StaticAnalogVariation.???
StaticAnalogVariation.???
StaticAnalogVariation.???
StaticAnalogVariation.???

In [23]:
stack_config.dbConfig.analog[3].svariation

In [30]:
# stack_config.dbConfig.analog.toView
stack_config.dbConfig.binary.toView

AttributeError: 'pydnp3.openpal.ArrayBinaryConfig' object has no attribute 'toView'

In [24]:
stack_config.dbConfig.analog[10].evariation

In [25]:
dir(stack_config.dbConfig)

['__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'analog',
 'aoStatus',
 'binary',
 'boStatus',
 'counter',
 'doubleBinary',
 'frozenCounter',
 'sizes',
 'timeAndInterval']

In [26]:
stack_config.dbConfig.sizes

In [27]:
dir(stack_config.dbConfig.sizes.numAnalog)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [28]:
stack_config.dbConfig.sizes.numAnalog

5